/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/*--Mobile First--*/
body {
  background-color: RGBA(0,0,0,0.5);
  background-image: url('images/space-view-short-copy.jpg');
  background-position: center;
}

main {
  padding: 5rem;
  background-color: RGBA(0,0,0,0.5);
  border-style: dotted;
  border-color: limegreen;
}

.section {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  height: 500px;
  display: flex;
  align-items: center;
}
h1 {
  color: white;
}

#quiz-container {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/*--Button Styles--*/
#submit-answer-button,
#play-again-button {
  margin-top: 25px;
  border-radius: 10%;
  transition-duration: 0.3s;
  background-color: purple;
}

#play-again-button:hover,
#submit-answer-button:hover {
  background-color: #4CAF50; 
  color: white;
}

#play-again-button {
  color: white;
  font-size: 20px;
  width: 123px;
  height: 45px;
  background-color: purple;
}

header {
  text-align: center;
}

/*--Radio buttons--*/
#radio-form label,
#score-board{
  color: orange;
}

.radio-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

input[type="radio"] {
  margin-top: 10px;
}

/*--Alert Message --*/
.alert {
  padding: 18px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.alert-container {
  height: 50px;
  margin-top: 40px;
  text-align: center;
}

.hidden {
  display: none;
}

/*--Congrats Message--*/
#congrats-element {
  height: 535px;
}

.congrats-item {
  color: limegreen;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  word-wrap: break-word;
  flex: 1;
  margin: 10px;
}

/*--Scoreboard--*/
#score-board {
  font-size: 20px;
}

/*--Desktop--*/
@media all and (min-width: 440px) {
  #quiz-container {
    color: limegreen;
    height: 500px;
    width: 500px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    word-wrap: break-word;
    flex: 1;
    margin: 10px;
  }

  .question-number {
    font-size: 34px;
  }

  h1 {
    color: white;
    font-size: 70px;
  }

  .group {
    flex-direction: row;
  }

  /*--Radio Form--*/
  #radio-form {
    border-style: hidden;
  }

  /*--Scoreboard--*/
  #score-board {
    font-size: 24px;
  }
  
}


