/*--Mobile First--*/
body {
  background-color: RGBA(0,0,0,0.5);
  background-image: url('images/space-view-short-copy.jpg');
  background-position: center;
}

main {
  padding: 2rem;
  background-color: RGBA(0,0,0,0.5);
  border-style: dotted;
  border-color: limegreen;
}

.section {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  height: 500px;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
}



#quiz-container {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.congrats-item {
  font-size: 18px;
}

#start-item {
  width: 100%;
  height: fit-content;
  font-size: 18px;
}

/*--Button Styles--*/
#start-button,
#submit-answer-button,
#play-again-button {
  margin-top: 25px;
  border-radius: 10%;
  transition-duration: 0.3s;
  background-color: white;
}

#start-button:hover,
#play-again-button:hover,
#submit-answer-button:hover {
  background-color: #4CAF50; 
  color: white;
}

#start-button,
#play-again-button {
  color: black;
  font-size: 20px;
  width: 123px;
  height: 45px;
}

header {
  text-align: center;
}

/*--Radio buttons--*/
#radio-form label,
#score-board{
  color: orange;
}

/*--Alert Message --*/
.alert {
  padding: 18px;
  font-size: 24px;
  color: white;
  text-align: center;
}

.alert-container {
  height: 45px;
  margin-top: 40px;
}

.hidden {
  display: none;
}

/*--Start Page & Congrats Message--*/
#start-element,
#congrats-element {
  height: 535px;
  width: 100%;
}

.start-item,
.congrats-item {
  color: orange;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 40px;
}

.congrats-item {
  word-wrap: break-word;
  flex: 1;
  margin: 10px;
}

/*--Scoreboard--*/
#score-board {
  font-size: 20px;
}






/*--DESKTOP STYLING--*/
@media all and (min-width: 440px) {
  main {
    padding: 5rem;
  }

  .start-item,
  .congrats-item {
    font-size: 50px;
  }

  #quiz-container {
    color: limegreen;
    height: 500px;
    width: 500px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    word-wrap: break-word;
    flex: 1;
  }

  .alert {
    padding: 18px;
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .question-number {
    font-size: 34px;
  }

  h1 {
    color: white;
    font-size: 70px;
    text-align: center;
  }

  .group {
    flex-direction: row;
  }

  /*--Scoreboard--*/
  #score-board {
    font-size: 24px;
  }
  
}


